<p id="notice"><%= notice %></p>

<h1>Les invités</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guests.each do |guest| %>
      <tr>
        <td><%= link_to 'Afficher', guest %></td>
        <td><%= link_to 'Modifier', edit_guest_path(guest) %></td>
        <td><%= link_to 'Détruire', guest, method: :delete, data: { confirm: 'Es-tu vraiment certain ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvel invité', new_guest_path %>
