<p id="notice"><%= notice %></p>

<h2>Profil de <%= @user.username %></h2>
<h3>Tout mes Event</h3>

<% @all_challenges = @user.events %>

<% @all_challenges.each do |event| %>
  <p>
    <strong>challenge : <%= event.challenge.title %></strong><br>
    <small>role : <%= event.role %> - statut : <%= event.statut %></small>
  </p>
<% end %>

<hr>

<h3>Event dont je suis le créateur</h3>

<% @creator_challenges = Event.where(user_id: @user.id, role: "créateur") %>

<% @creator_challenges.each do |event| %>
  <p>
    <strong>challenge : <%= event.challenge.title %></strong><br>
    <small>role : <%= event.role %> - statut : <%= event.statut %></small>
  </p>
<% end %>

<hr>

<h3>Event auquel je participe</h3>

<% @participant_challenge = Event.where(user_id: @user.id, role: "participant") %>

<% @participant_challenge.each do |event| %>
  <p>
    <strong>challenge : <%= event.challenge.title %></strong><br>
    <small>role : <%= event.role %> - participation : <%= event.participation %></small> <%= link_to event.participation, toggle_participation_event_path, method: 'post'%>
  </p>
<% end %>

<hr>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
