<div class="container mt-4">

<!-- If User has no challenge -->
  <% if @user.events.count == 0 %>
  <%= render 'users/no-challenge' %>
<!-- If User has challenge -->
  <% else %>

    <!-- User challenge pending -->
    <div class="row">
      <% @pending_challenges = Event.where(user_id: current_user.id, participation: "pending") %>
      <% if @pending_challenges.count != 0%>
        <div class="col-4">
          <%= render 'users/pending-challenge' %>
        </div>
      <% else%>
        <div class="col-0">
        </div>
      <% end %>


      <% if @pending_challenges.count != 0%>
      <div class="col-8">
        <%= render 'users/challenge', confirmed_events: @confirmed_events %>
      </div>
      <% else%>
      <div class="col-12">
        <%= render 'users/challenge', confirmed_events: @confirmed_events %>
      </div>
      <% end %>
    </div>


  
  <% end %>
</div>



<% if @user.events.count != 0 %>
<div class="container">
  <div class="p-5 d-flex justify-content-center">
    <div>
      <%= link_to 'créer un nouveau challenge', new_challenge_path, :class => "btn btn-primary btn-lg" %>
    </div>
  </div>

</div>
<% end %>