<div class="container mt-4">

<!-- If User has no challenge -->
  <% if @user.events.count == 0 %>
  <%= render 'users/no-challenge' %>
<!-- If User has challenge -->
  <% else %>

    <div class="row">
      <% @pending_challenges = Event.where(user_id: current_user.id, participation: "pending") %>
<!-- RIGHT SIDE  -->
      <% if @pending_challenges.count != 0%><!-- IF CHALLENGE PENDING  -->
      <div class="col-4">
        <div class="">
        <!-- 
          <%= render 'users/pending-challenge' %>
        -->

          <div class="mb-5">
            <h4>Challenges en attentes de confirmation</h4>
          </div>

          <div class="row p-1">
            <% @pending_challenges.each do |event| %>
              <div class="col-lg-12">
                <div class="bs-component">
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <% @event_creator = Event.where(challenge_id: event.challenge_id, role: "créateur").first %>
                      <div class="mr-auto p-2">
                        <h5><%= event.challenge.title %></h5>
                        <span class="text-muted">invité par : <%= @event_creator.user.username %></span><br>
                        <span class="text-muted">Thème : <%= event.challenge.theme_choice %> => <%= event.challenge.meal_category %><%= event.challenge.meal_area %></span>
                      </div>
                      <div class="p-2"><h5><span class=""><%= link_to 'Accepter', toggle_participation_event_path(id: event.id), method: 'post', :class => 'badge badge-primary', remote: true %></span></h5></div>
                      <div class="p-2"><h5><span class=""><%= link_to 'Décliner', abort_status_event_path(id: event.id), method: 'post', :class => 'badge badge-warning' %></span></h5></div>
                    </li>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>

        </div>

      </div>
      <% elsif @pending_challenges.count == 0%><!-- IF NO CHALLENGE PENDING  -->
        <div class="col-0">
        </div>
      <% end %>
<!-- LEFT SIDE  -->
      <div class="col-8" id="display"><!-- CHALLENGE CARD RIGHT  -->
        <div class="card">

        ici du test
          <!-- 
          <%= render 'users/challenge' %>
           -->

          <% if @user.events.count != 0 %>
            <div class="container">
              <div class="p-5 d-flex justify-content-center">
                <div>
                  <%= link_to 'créer un nouveau challenge', new_challenge_path, :class => "btn btn-primary btn-lg" %>
                </div>
              </div>
            </div>
          <% end %>



        </div>
      </div>
    </div>
  <% end %>
    
      
</div>


