<div class="container">

  <p id="notice"><%= notice %></p>


<!-- If User has no challenge -->
  <% if @user.events.count == 0 %>
  <%= render 'users/no-challenge' %>
<!-- If User has challenge -->
  <% else %>
    <%= render 'users/challenge' %>
  <% end %>

<div>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

