<!--JUMBOTRON-->
<div class="jumbotron">
  <div class="container jumbo-container">
    <div class="d-flex align-content-between flex-column">

        <div class="mb-auto mb-4">
          <h1 class="jumbo-text">COOKING CHALLENGE</h1>
        </div>

      <div class="p-2 jumbo-body mb-5">
        <p >Une nouvelle façon de pimenter<br>
        vos dîners entre amis</p>
      </div>

        <div class="">
          <% if user_signed_in? %>
            <%= link_to 'CHALLENGE TES AMIS', new_challenge_path, :class => "btn btn-primary btn-lg jumbo-button" %>
          <% else %>
            <%= link_to 'CHALLENGE TES AMIS', new_user_session_path, :class => "btn btn-primary btn-lg jumbo-button" %>
          <% end %>
        </div>
    </div>
  </div>  
</div>

<!--ETAPE-->
<div class="container">

  <div class="mb-5 mt-3">
    <h2 class="text-center">Un Cooking Challenge c'est simple<br>comme une bonne recette 🥘</h2><br>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-xs-12">
      <div>
        <div  class="mx-auto">
          <%= image_tag "food.png", :class => "landing-icon mx-auto d-block" %>
        </div>
           
        <div class="card-body">
          <h4 class="card-title text-center red-text">
            Crée ton challenge
          </h4>
          <p class="card-text text-center">
            Choisis un thème culinaire<br>
            et invite tes amis à participer<br>
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-xs-12">
      <div>
        <div class="mx-auto">
          <%= image_tag "cooking.png", :class => "landing-icon mx-auto d-block" %>
        </div>
        
        <div class="card-body">
          <h4 class="card-title text-center red-text">
            Accède à ton espace
          </h4>
          <p class="card-text text-center">
            Chaque invité pourra découvrir
            sa recette à réaliser et planifier son dîner.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-xs-12">
      <div>
        <div  class="mx-auto">
          <%= image_tag "taste.jpg", :class => "landing-icon2 mx-auto d-block" %>
        </div>
        
        <div class="card-body">
          <h4 class="card-title text-center red-text">
            C'est qui le chef !
          </h4>
          <p class="card-text text-center">
            Note la prestations des
            autres participants et découvre qui remporte le challenge.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>

<!--CONTAINER ROUGE-->
<div class="container-fluid bg-primary">
  <br><br>
  <div class="row experience">

    <div class="col-xl-6 mb-4">
      <div>
        <div class="recipe-of-the-day">
          <div class="content">
            <h3 class="section-title">A toi de jouer !</h3>
            <a class="recipe-hed" href="/recipes/food/views/lemony-salmon-and-spiced-chickpeas">un challenge Pasta ça vous tente</a>
            <p class="recipe-dek" >Une lichette de savoir recevoir, un zest d'originalité et le partage au coeur de l'expérience</p>
          </div>
          <div class="photo-wrap">

              <picture class="component-responsive-image">
                <%= image_tag "home-diner.jpg" %>
              </picture>


          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
    </div>
    <div class="col-xl-4 banner">
      <div class="text-center">
        <div class="d-flex flex-column">
          <div class="p-2">
            <div>
              <%= image_tag "choose-icon.png", :class => "step-icon mx-auto d-block" %>
              <br>
            </div>
            
            <h4 class="text-center">Sélectionne un thème</h4>
            <p class="white-text">
              C'est toi qui choisis. La catégorie ou le pays que tu sélectionnera définie les recettes attribuées aux participants
            </p>
          </div>
          <div class="p-2">
            <div>
              <br>
              <%= image_tag "recipe.png", :class => "step-icon mx-auto d-block" %>
              <br>
            </div>
             <h4 class="text-center">Tous en cuisine</h4>
            <p class="white-text">
              Les recettes sont bien documentées. Liste des ingrédients, instructions, lien vidéo... et le site te donne tous les outils pour suivre le challenge, noter tes amis ... Il ne reste plus qu'à allumer le four ! 
            </p>
          </div>
          <div class="p-2">
          <br>
            <% if user_signed_in? %>
              <%= link_to 'CHALLENGE TES AMIS', new_challenge_path, :class => "btn btn-outline-light btn-lg" %>
            <% else %>
              <%= link_to 'CHALLENGE TES AMIS', new_user_session_path, :class => "btn btn-outline-light btn-lg" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<div class="container mt-5">
  
  <div class="mb-5 mt-3">
    <h2 class="text-center">La bonne cuisine, c'est du partage et des souvenir 🍛</h2><br>
  </div>

  <div class="row mb-4">

    <div class="col-md-6  col-xs-12">
      <div class="card mb-3 user">
        <%= image_tag "friends.jpg", :class => "img-user-experience" %>
        <div class="card-body">
          <h5 class="user-quote">" Simple et conviviale "</h5>
          <p class="user-expe">L'appli est simple a prendre en main. C'est facile de voir son score, de noter les autres. Durant les dîners on en profite pour se connecter, voir les recettes, les commentaires des autres !</p>
        </div>
      </div>
    </div>

    <div class="col-md-6  col-xs-12">
      <div class="card mb-3 user">
        <%= image_tag "kitchen.jpg", :class => "img-user-experience" %>
        <div class="card-body">
          <h5 class="user-quote">" Maintenant Paul cuisine, il a même acheté un tablier "</h5>
          <p class="user-expe">Avant c'était toujours moi qui cuisinait ! Depuis qu'on challenge d'autres couples d'amis, Paul met les petits plats dans les grands.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6  col-xs-12">
      <div class="card mb-3 user">
        <%= image_tag "family-diner.jpg", :class => "img-user-experience" %>
        <div class="card-body">
          <h5 class="user-quote">" Même en famille "</h5>
          <p class="user-expe">Au début on faisait des Cooking Challenge entre amis mais maintenant c'est ma belle mère qui nous défie ..J'ai réussi à la battre une fois 😚</p>
        </div>
      </div>
    </div>

    <div class="col-md-6  col-xs-12">
      <div class="card mb-3 user">
          <%= image_tag "friend-diner.jpg", :class => "img-user-experience" %>
        <div class="card-body">
          <h5 class="user-quote">" ça dynamise nos soirées "</h5>
          <p class="user-expe">Cooking Challenge a réellement créé une dynamique dans notre groupe d'amis. On se challenge les uns les autres, ça dynamise les soirées, multiplie les occasions de se voir...</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-primary p-5">
  <div class="container">
    <br>
    <div class="d-flex justify-content-center">
      <div class="pt-2 mr-2">
        <h5 class="white-text">Alors tu es plutôt challenge Pasta 🍝 ou Cuisine japonaise 🇯🇵 </h5>
      </div>
      <div class="ml-2">
        <% if user_signed_in? %>
          <%= link_to 'A TOI DE JOUER', new_challenge_path, :class => "btn btn-outline-light" %>
        <% else %>
          <%= link_to 'A TOI DE JOUER', new_user_session_path, :class => "btn btn-outline-light" %>
        <% end %>
      </div>
    </div>
    <br>
  </div>
</div>
