<body>
<header class="masthead text-black text-center">
  <div class="gradient-overlay-half-dark-v2 bg-img-hero" style="background-image: url(<%= asset_path 'banner.jpeg' %>) ">
    <div class="container pt-xl-5 pb-xl-5">
      <div class="w-lg-60 text-center mx-lg-auto">
        <h1 class="display-1 mb-0">Coocking-Challenges</h1>
        <h4 class="display-4 mb-1">La compèt' s'invite dans tes assiètes...</h4>
      </div>
      
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"><button type="button" class="btn btn-primary">C'est parti !</button></div>
      </div>
    </div>
  </div> 
  <br/>
  <br/>  
  </header>

  <!-- Icons Grid -->
  <section class=" bg-light text-center">
    <div class="container ">
      <div class="row ">
        <div class="col-lg-4 ">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
                <i class="fas fa-drumstick-bite m-auto text-secondary"></i>
            </div>
            <h3 class= "pl-md-4">Choisi un thème culinaire</h3>
            <p class="lead mb-0">Trouves le thème qui te motive parmi des dizaines !</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
                <i class="fas fa-users m-auto text-secondary"></i>
            </div>
            <h3>invite tes amis</h3>
            <p class="lead mb-0">Lance ton invation au challenge à tes amis en 2 clics !</p>
          </div>
        </div>
        <div class="col-lg-4 ">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
                <i class="fas fa-trophy m-auto text-secondary"></i>
            </div>
            <h3>et montre c'est qui le chef !</h3>
            <p class="lead mb-0">Note chacun de tes amis et que le meilleur gagne !<p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-black showcase-img" style="background-image: url(<%= asset_path 'alone.jpeg' %>)"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Choisi un thème culinaire</h2>
          <p class="lead mb-0">Les repas en tête à tête avec sa tablette, c'est bien sympa. Les apéros-zoom, un temps ça va... Alors pour mettre un peu de couleur et de saveur dans tes assiètes Cooking-Chalenges est là ! Sélectionne un thème parmi la liste proposée. Allez, pour ce challenge c'est soirée tapas !</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url(<%= asset_path 'meal.jpeg' %>);"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Invite tes amis</h2>
          <p class="lead mb-0"> Chacun des particpants va se recevoir une recette qu'il devra préparer pour le repas qui se tiendra chez lui. </p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url(<%= asset_path 'fun.jpeg' %>)"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>et montre c'est qui le chef !</h2>
          <p class="lead mb-0">A la fin de chaque repas, les invités devront noter les prestations de leur hôtes selon une grille étbalie par l'auteur du challenge. Et donc, là où tu vas vite te prendre au jeu, c'est quand tes potos vont te décerner le titre du roi de la moule !</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Cooking-Challenges a pimenté leur vie...</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" <%=image_tag("testimonials-1.jpg")%>
            <h5>Margaret E.</h5>
            <p class="font-weight-light mb-0">"Je me suis rendu compte que j'étais doué en cuisine grâce à Cooking-Challenge"!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" <%=image_tag("testimonials-2.jpg")%>
          <h5>Fred S.</h5>
            <p class="font-weight-light mb-0">"Moi aussi avant je mangeais des soupes Bolino tous les jours... Maintenant, je sais couper les oignons sans pleurer. Merci beaucoup, vous m'avez sauver les yeux!"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" <%=image_tag("testimonials-3.jpg")%>
          <h5>Sarah W.</h5>
            <p class="font-weight-light mb-0">"Grâce à Cooking-Challenge, je suis devenue miss canard-laqué, et j'ai gagné le respect de ma belle-mère !"</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Toi aussi ça te dis de montrer tes talents ? </h2>
          <h2 class="mb-4">Lance ton Cooking-Challenge et invite tes amis !</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="Enregistre-toi">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary"> et challenges tes amis !</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>
<script src="script.js"></script>




