<!-- Liste des autres participants -->
<div class="">
  <% @this_event = Event.where(challenge_id: @event.challenge.id).where.not(user_id: current_user.id) %>
  <% @this_event.each do |event| %>
    <div class="row">
      <div class="col-md-9">
        <div class="d-flex justify-content-between">
          <div class="d-flex justify-content-start mb-4">
            <div class="mr-2">
              <% if event.participation == "pending" %><span class=""><i class="fa fa-check-circle" style="color:lightgray"></i></span>
              <% elsif event.participation == "confirmed" %><span class=""><i class="fa fa-check-circle" style="color:indianred"></i></span>
              <% else %><i class="fas fa-ban"></i>
              <% end %>
            </div>  
            <% if event.participation == "pending" %>
              <div>
                <span class="red-text"><%= event.user.username.capitalize %></span> n'a pas encore confirmé sa participation
              </div>
            <% elsif event.participation == "abord" %>
              <div>
                <span class="red-text"><%= event.user.username.capitalize %></span> a décliné le challenge
              </div>
            <%  elsif event.participation == "confirmed"  %>
              <div>
                <% if event.status == "unscheduled" %>
                  <span class="red-text"><%= event.user.username.capitalize %></span> n'a pas encore planifié son dîner
                <% elsif event.status == "scheduled" %>
                  <span class="red-text"><%= event.user.username.capitalize %></span> : son dîner est programmé
                <% elsif event.status == "done" %>
                  Le dîner de <span class="red-text"><%= event.user.username.capitalize %></span> est passé, c'est evalution time
                  <!--  -->
                  <% @surveys = event.surveys %>
                  <% @currentUser_survey = Survey.where(event_id: event.id, surveyor_id: current_user.id)[0] %>
                  <div class="card mt-2 p-2">
                    <% if @currentUser_survey.created_at == @currentUser_survey.updated_at %>
                      <div class="row">
                        <div class="col-md-9 text-muted small">
                          Tu ne pourras voir la note des autres participants qu'après avoir compléter ton évalution.
                        </div>
                        <div class="col-md-3">
                          <%= link_to "Noter", edit_survey_path(@currentUser_survey), :class => "btn btn-outline-primary btn-sm p-1" %>
                        </div>
                      </div> 
                    <% else %>
                      <% @surveys.each do |survey| %>

                        <div class="p-1 pl-2">
                          <% if survey.created_at != survey.updated_at %>
                            <% if current_user.id == survey.surveyor_id %>
                              <div>tu as donnée la note de : <%= survey.total_grade %></div>
                            <% else %>
                              <div><%= survey.surveyor.username %> a donnée la note de : <%= survey.total_grade %></div>
                            <% end %>
                          <% else %>
                            <div><%= survey.surveyor.username %> n'a pas encore noté</div>
                          <% end %>
                        </div>

                      <% end %>
                    <% end %>
                  </div>

                <% end %>
              </div> 
            <% end %>
          </div>
        </div>
      </div>


      <div class="col-md-3">
        <% if event.surveys.any? { |el| el.status == "pending" } == true %>
          <div class="gray-text text-center">
            Note provisoire : <%= event.total_event %>
          </div>
        <% elsif event.surveys.count == 0 %>
          <div class="gray-text text-center">
           
          </div>
        <% else %>
          <div class="green-text text-center">
            Score final est <%= event.total_event %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


