
<%  @event %>

<div class="">

<h3>Ma recette</h3>
<h3><%=  @event.recipe.meal %></h3>
  <div class="card">
    <p>categorie : <%=  @event.recipe.meal %> - origine : <%=  @event.recipe.area %> - tag : <%=  @event.recipe.tags %>  
     - tag : 
    </p>
    <img src="<%=  @event.recipe.mealThumb %>" alt="<%=  @event.recipe.meal %>" class="recipe-picture">
  </div>


  <div class="card">
  
  </div>




</div>