<!-- info du current_user à propos du challenge -->
<div class="">
  <!-- role creator -->
  <% if @event.role == "créateur" %>
    <h6 class="card-subtitle text-muted mb-2">En tant que créateur du challenge ta partipation est confirmée</h6>
    <%= render 'participation-confirmed', event: @event %>
  <!-- role participant - status pending -->
  <% elsif @event.role == "participant" && @event.participation == "pending" %>

    <h6 class="card-subtitle text-muted mb-2">ma participation est : <%= @event.participation %>. Souhaites tu confirmer ta participation :</h6>
    <%= link_to 'accepter', toggle_participation_event_path, method: 'post', :class => 'badge badge-primary badge-pill' %><br>
    <%= link_to 'décliner', abort_status_event_path, method: 'post', :class => 'badge badge-warning badge-pill' %>
    
  <!-- role participant - status confirmed -->
  <% elsif @event.role == "participant" && @event.participation == "confirmed" %>

    <h6 class="card-subtitle text-muted mb-2">ta participation est confirmée</h6>
    <%= render 'participation-confirmed', event: @event %>
    
  <!-- status abort -->
  <% elsif @event.participation == "abort" %>

    <h6 class="card-subtitle text-muted mb-2">Tu as choisis de ne pas participer</h6>
    <% if @event.challenge.status == "pending" %>
      <p>Le challenge n'a pas encore commencé, il n'est pas encore possible de changer d'avis ou valider ta participation</p>
      <%= link_to 'participer', toggle_participation_event_path, method: 'post', :class => 'badge badge-primary badge-pill' %>
    <% else %>
      <p>Le challenge est débuté. Ce n'est plus possible d'y participer. Veux tu créer le tien !</p>
      <div>
        <%= link_to 'créer ton challenge', new_challenge_path, :class => "btn btn-primary btn-lg" %>
      </div>
    <% end %>
  
  <% end %> 
</div>
