<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <% if Event.where(user_id: current_user.id).where.not(challenge_id: @event.challenge.id).count == 0 %>
    <div class="col-lg-12">
    <% else %>
    <div class="col-lg-8">
    <% end %>
<!--- Challenge info-->
      <div class="bs-component">
        <div class="card mb-3">
          <!---header-->
          <div class="card-header d-flex w-100 justify-content-between">
            <h2 class="mb-1 text-muted"><%= @event.challenge.title.upcase %></h2>
            <span class="badge bg-danger text-sm-start"><%= @event.challenge.status %></span>
          </div>
          <!---Info challenge-->
          <div class="card-body">
            <h5 class="card-title mb-4">Category du challenge : <span class="red-text"><%= @event.challenge.meal_category %></span></h5>
            <h6 class="card-subtitle text-muted">message du créateur :</h6>
            <p class="p-3"><%= @event.challenge.description %></p>
          </div>

          <div>
            <% if @event.status == "done" %>
            <% end %> 
          </div>
          <!---Accordion display-->
          <div>
            <%= render 'accordion', event: @event %>
          </div>

          <!-- Card Footer -->
          <div class="card-footer text-muted">
            <p></p>
          </div>

        </div>
      </div>
    </div>

<!--Other current_user challenge-->
    <div class="col-lg-4">
      <div class="bs-component">
        <div class="list-group">
          <% @my_sessions = Event.where(user_id: current_user.id).where.not(challenge_id: @event.challenge.id) %>
          <% @my_sessions.each do |session| %>
            <a href="/events/<%= session.id %>" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><%= session.challenge.title %></h5>
                <span class="badge bg-dark text-sm-start"><%= session.challenge.status %></span>
              </div>
              <div></div>
            </a>
          <% end %>
        </div>
      </div>
    </div>

          
  </div>
</div>

