<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <% if Event.where(user_id: current_user.id).where.not(challenge_id: @event.challenge.id).count == 0 %>
    <div class="col-lg-12">
    <% else %>
    <div class="col-lg-8">
    <% end %>
<!--- Challenge info-->
      <div class="bs-component">
        <div class="card mb-3">
          <!---header-->
          <div class="card-header d-flex w-100 justify-content-between">
            <h2 class="mb-1 text-muted"><%= @event.challenge.title.upcase %></h2>
            <div>
              <% if @event.challenge.status == "ongoing" %>
                <h3><span class="badge bg-light text-sm-start green-text Regular shadow">EN COURS</span></h3>
              <% elsif @event.challenge.status == "pending" %>
                <h3><span class="badge bg-light text-sm-start Small shadow">en attente</span></h3>
              <% elsif @event.challenge.status == "abort" %>
                <h3><span class="badge bg-warning text-sm-start gray-text">annulé</span></h3>
              <% elsif @event.challenge.status == "finish" %>
                <h3><span class="badge bg-dark white-text text-sm-start">terminé</span></h3>
              <% end %>
            </div>
          </div>
          <!---Info challenge-->
          <div class="card-body header-event">
            <div class="row">
              <div class="col-5">
                <% if @event.challenge.theme_choice = "Category" %>
                <h5 class="card-title mb-4">Category du challenge : <span class="red-text"><%= @event.challenge.meal_category %></span></h5>
                <% else %>
                <h5 class="card-title mb-4">Pays du challenge : <span class="red-text"><%= @event.challenge.meal_area %></span></h5>
                <% end %>
                <h6 class="card-subtitle text-muted">message du créateur :</h6>
                <p class="pt-2"><%= @event.challenge.description %></p>
              </div>
              <div class="col-7">
                <% @all_events = Event.where(challenge_id: @event.challenge_id).order(total_event: :desc) %>
                <% if @event.challenge.status == "ongoing" %>
                  <div>
                    <table class="table-sm mb-2">
                      <% @all_events.each do |event| %>
                        <tr class="score">
                          <td style="width:100px"><%= event.user.username.capitalize %></td>
                          <td><%= event.total_event %></td>
                        </tr>
                      <% end %>
                    </table>
                  </div>
                 
                <% elsif @event.challenge.status == "finish" %>
                  <% @all_events = Event.where(challenge_id: @event.challenge_id).count %>
                  <div class="row">
                    <div class="col-3">
                      <%= image_tag "chief.png", :class => "winner-pic" %>
                    </div>
                    <div class="col-9">
                      <% @event_winner = Event.where(challenge_id: @event.challenge.id).order("total_event DESC").first %>
                      <h5 class="card-title"><span class="red-text"><%= @event_winner.user.username %></span></h5>
                      <h6>vainqueur avec une note de <%= Event.where(challenge_id: @event.challenge.id).maximum("total_event") %></h6>
                    </div>
                  </div>
                <% end %> 
              </div>
              
            </div>
          </div>

          <!---Accordion display-->
          <div>
            <%= render 'accordion', event: @event %>
          </div>

          <!-- Card Footer -->
          <div class="card-footer text-muted">
            <p></p>
          </div>

        </div>
      </div>
    </div>

<!--Other current_user challenge-->
    <div class="col-lg-4">
      <div class="bs-component">
        <div class="list-group">
          <% @my_sessions = Event.where(user_id: current_user.id).where.not(challenge_id: @event.challenge.id) %>
          <% @my_sessions.each do |session| %>
            <a href="/events/<%= session.id %>" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><%= session.challenge.title %></h5>
                <div>
                  <% if session.challenge.status == "ongoing" %>
                    <span class="badge bg-light text-sm-start green-text Regular shadow">EN COURS</span>
                  <% elsif session.challenge.status == "pending" %>
                    <span class="badge bg-light text-sm-start Small shadow">en attente</span>
                  <% elsif session.challenge.status == "abort" %>
                    <span class="badge bg-warning text-sm-start gray-text">annulé</span>
                  <% elsif session.challenge.status == "finish" %>
                    <span class="badge bg-light text-sm-start Small shadow">terminé</span>
                  <% end %>
                </div>
              </div>
              <div></div>
            </a>
          <% end %>
        </div>
      </div>
    </div>

          
  </div>
</div>

