
<div class="container">

  <p id="notice"><%= notice %></p>

  <h3>Questionnaire</h3>
  
  <p class="mt-4">
    <h5><%= @survey.surveyor.username.capitalize %> l'heure est venue de noter la prestation de <%= @survey.event.user.username.capitalize%></h5>
  </p>

  <%= form_for @survey do |f| %>
   
    <%= f.fields_for :questions do |builder| %>
      <%= render "question_fields", :f => builder %>

      
    <% end %>

    <p><%= f.submit "Je soumets mon vote" %></p>

  <% end %>

  <p>
    <%= link_to 'Show', @survey %> |
    <%= link_to 'Back', surveys_path %>
  </p>


</div>


