<p id="notice"><%= notice %></p>

<h1>Les questionnaires</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= link_to 'Afficher', survey %></td>
        <td><%= link_to 'Modifier', edit_survey_path(survey) %></td>
        <td><%= link_to 'Détruire', survey, method: :delete, data: { confirm: 'Es-tu vraiment certain ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau questionnaire', new_survey_path %>
