<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="card">
    <%= @survey.surveyor.username%> corrige <%= @survey.event.user.username%>
  </div>

  <%= link_to 'Edit', edit_survey_path(@survey) %> |
  <%= link_to 'Back', surveys_path %>
</div>