<div class="container">

  <p id="notice"><%= notice %></p>

  <h3>Questionnaire</h3>

  <p class="mt-4">
    <%= @survey.surveyor.username.capitalize %> note la prestation de <%= @survey.event.user.username.capitalize%>
  </p>

  <% @questions = @survey.questions %>
  <% @questions.each do |question| %>

    <div class="card mb-2 p-2 col-6">
      <p><%= question.label %> <strong><%= question.grade %></strong></p>
    </div>
  <% end %>
  
  <div class="mb-3">
    <% if @survey.created_at == @survey.updated_at %>
      <h5><%= @survey.surveyor.username.capitalize %> n'a pas encore remplie ce questionnaire</h5>
    <% else %>
      <h5>La note total est de <%= @survey.total_grade %></h5>
    <% end %>
  </div>

  <%= link_to 'Edit', edit_survey_path(@survey) %> |
  <%= link_to 'Back', surveys_path %>

</div>