

<%= form_with(model: challenge) do |form| %>
  <% if challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(challenge.errors.count, "error") %> a empêché de sauvegarder ce challenge :</h2>

      <ul>
        <% challenge.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


 <div>
    <%= form.label :titre %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :numb_guest %><br>
    <%= form.number_field :numb_guest, in: 1..20, step: 1%>
  </div>

  <div>
    <div>
      <%= form.radio_button :theme_choice, "Categorie", class: 'mr-3' %>
      <%= form.label :theme_choice, "Categorie" %>
    </div>

    <div>
      <%= form.radio_button :theme_choice, "area", class: 'mr-3' %>
      <%= form.label :theme_choice, "area" %>
    </div>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
