
  <%= form_with(model: challenge) do |form| %>
    <% if challenge.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(challenge.errors.count, "error") %> a empêché de sauvegarder ce challenge :</h2>
        <ul>
          <% challenge.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="row">
      <div class="col-6 p-2 mb-2">
        <div class="card pt-2">
          <div class="d-flex justify-content-center mb-3">
            <div class="text-center">
              <h5>Type de thème</h5>
            </div>
          </div>
          <div class="d-flex justify-content-around font-weight-bold">
            <div class="mb-2 red-text">
              <%= form.radio_button :theme_choice, "Categorie", class: 'mr-3' %>
              <%= form.label :theme_choice, "Catégorie", required: true %>
            </div>
            <div class="mb-2 red-text">
              <%= form.radio_button :theme_choice, "area", class: 'mr-3' %>
              <%= form.label :theme_choice, "Pays", required: true  %>
            </div>
          </div>
          <div class="text-center">
            <p class="text-muted small">Deux familles de Thème ! catégorie ou pays. Tu devra ensuite affiner ta sélection</p>
          </div>
        </div>
      </div>
  
      <div class="col-6 p-2 mb-2">
        <div class="card pt-2">
          <div class="d-flex justify-content-center mb-3">
            <div class="text-center">
              <h5>Nombre d'invité(s)</h5>
            </div>
          </div>

          <div class="d-flex justify-content-around">
            <div class="mb-3 red-text"> 
              <%= form.number_field :numb_guest, in: 1..20, step: 1, required: true %>
            </div>
          </div>
          <div class="text-center">
            <p class="text-muted small">Tu dois au moins invités une personne, un challenge seul n'est pas un challenge</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="actions mt-3">
        <%= form.submit "Ingrédients validés", class: 'btn btn-outline-primary btn-lg' %>
      </div>
    </div>
    <div class="d-flex justify-content-center mb-5">
      <div class="actions mt-3">
        <%= link_to "Annuler", root_path, :class => 'btn btn-outline-secondary btn-sm' %>
      </div>
    </div>
  <% end %>

