<div class="container">

  <h1>Editing Challenge</h1>
  <p>
    <%= current_user.username.capitalize %> il ne te reste plus que quelques champs à compléter pour définir ton challenge et inviter tes amis à te rejoindre
  </p>

  <%= render 'form', challenge: @challenge %>

  <hr>

  <h3>Invite tes amis à participer</h3>

  <% @guests = @challenge.guests %>

    <% @guests.each do |guest| %>

      <%= form_with(model: guest) do |form| %>

        <%= hidden_field_tag(:challenge, @challenge.id) %>

        <div>
          <%= form.label :username %><br>
          <%= form.text_field :username %>
        </div>

        <div>
          <%= form.label :email %><br>
          <%= form.email_field :email %>
        </div>
        
        <div class="actions">
          <%= form.submit%>
        </div>
        <br>
        <br>

      <% end %>

    <% end %>

  <hr>

  <%= link_to 'Show', @challenge %> |
  <%= link_to 'Back', challenges_path %>

</div>