<div class="container">

  <div class="d-flex flex-column align-items-center">
    <div class="d-flex flex-column align-items-center mb-4">
      <div>
        <h1>finalise ton Challenge</h1>
      </div>
        <p class="red-text text-center">
          <%= current_user.username.capitalize %> il ne te reste plus que à inviter tes amis à te rejoindre ton challenge et ajouter un petit mot !
        </p>
    </div>
    
    <div class="card align-items-center pl-5 pr-5 pt-2 pb-2 mb-4" style="width: 60%;">
      <div>
        <h2><%= @challenge.title %></h2>
      </div>
      <div>
        <p class="text-center">
          <%= @challenge.numb_guest %> invité(s)<br>
          Tu as choisis la catégorie : <%= @challenge.meal_category %><br>
          Tu as choisis la : <%= @challenge.meal_area %>
        </p>
      </div>
    </div>

    <div>
      <h3>Invite tes amis à participer</h3>
      <h6 class="text-center">Invite tes amis à participer</h6>
      <%= form_with(model: @challenge) do |form| %>
        <div class="text-center">
          <%= form.label :meal_category %><br>
          <%= form.select :meal_category, [ "", "Breakfast", "Starter", "Dessert", "Seafood", "Beef", "Chicken", "Lamb", "Pork", "Pasta", "Vegan" ,"Vegetarian"], selected: "" %>
        </div>
        <div class="text-center">
          <%= form.label :meal_area %><br>
          <%= form.select :meal_area, ["", "American", "British", "Canadian", "Chinese", "Dutch", "Egyptian", "French", "Greek", "Indian", "Italian", "Japanese", "Mexican", "Turkish"], selected: ""%>
        </div>
        <div class="actions text-center">
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
  
  <% @guests = @challenge.guests %>

    <div class="p-5">
    <% @guests.each do |guest| %>

      <%= form_with(model: guest) do |form| %>

        <%= hidden_field_tag(:challenge, @challenge.id) %>

        <div class="row d-flex justify-content-center">

          <div class="form-group mr-4">
            <%= form.label :username, class: "col-md-4 control-label" %> <%= form.text_field :username, class: "form-control" %>
          </div>

          <div class="form-group mr-4">
            <%= form.label :email %> <%= form.email_field :email, class: "form-control"  %>
          </div>
          
          <div class="actions pt-4">
            <%= form.submit "inviter", class: "btn btn-outline-primary"%>
          </div>

        </div>


      <% end %>
    <% end %>

    <div class="row d-flex justify-content-center">
      <% if @guests.all? { |guest| guest.created_at != guest.updated_at  } == true %>
        BOUTON A CREER
      <% else %>
        <p class="red-text text-center">envoie l'ensemble des invitations pour valider ton challenge</p>
      <% end %>
    </div>
    <div class="row d-flex justify-content-center">
    RAJOUTER UN BOUTON DESTROY
    </div>

    <div class="mb-5 mt-3">
      <%= image_tag "fork-spoon.png", :class => "spoon mx-auto d-block" %>
    </div>

  </div>

</div>