<p id="notice"><%= notice %></p>


<%= @challenge.title %><br>
<%= @challenge.description %><br>
<%= @challenge.statut %><br>
<br>
<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
