<p id="notice"><%= notice %></p>


<%= @challenge.title %><br>
<%= @challenge.description %><br>
<%= @challenge.status %><br>
<br>
<%= link_to 'Modifier', edit_challenge_path(@challenge) %> |
<%= link_to 'Retour', challenges_path %>
