<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container-fluid">

    <div><%= link_to "Cooking Challenge", root_path, :class => "navbar-brand" %></div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav ml-auto">
        
        <li class="nav-item"><%= link_to "WIP", users_path, :class => "nav-link" %></li>

        <li class="nav-item"><%= link_to "theme/kit", welcome_index_path, :class => "nav-link" %></li>

        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to "Mon Espace", user_path(current_user), :class => "nav-link" %></li>
        <% end %>

        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profil
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li class="dropdown-item">Salut <%= current_user.username.capitalize %></li>
              <li class="dropdown-item"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
              <li><hr class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to "Edit email / password", edit_user_registration_path %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Se connecter
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li class="dropdown-item"><%= link_to "Sign in", new_user_session_path %></li>
              <li class="dropdown-item"><%= link_to "Sign up", new_user_registration_path %></li>
            </ul>
          </li>
        <% end %>

        <li class="nav-item">
            <a class="nav-link" href="https://bootswatch.com/journal/">site web du Kit</a>
        </li>

      </ul>
   
    </div>
  </div>
</nav>